html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

h1{
    color: white;
}

img{
    margin: auto;
}

header h1{
    font-weight: normal;
    font-size: 50px;
    
}

a{
    color: aquamarine;
    font-size: 16px;
}

main video{
    margin-top: 30px;
}

main h1{
    font-weight: 300;
    font-size: 42px;
}

main p{
    color: gray;
    font-size: 21px;
}

main .figure{
    display: block;
    margin-top: 20px;
}

footer{
    text-align: right;
    color: gray;
}